.letter {
  background-color: #939b9f;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  transition: 0.5s ease-in-out;

  input {
    caret-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &.disabled {
    cursor: unset;

    input {
      cursor: unset;
    }
  }
}

.correct {
  animation: spin 1s ease;
  background-color: #3aa394;
}

.incorrect {
  animation: spin 1s ease;
  background-color: #d3ad69;
}

.notFound {
  animation: spin 1s ease;
  background-color: #596064;
}

.disabled {
  background-color: #939b9f;
  opacity: 30%;
}

.focused {
  border-bottom: 0.3em solid rgba(62, 73, 78, 0.9) !important;
  transition: none;
}

.unfocused {
  input {
    animation: bounce 0.5s ease;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  100% {
    transfrom: rotate(180deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  60%,
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .letter {
    height: 3rem;
    width: 3rem;

    input {
      font-size: 1.5rem;
    }
  }
}
